@import"http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,600,700,300";
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
display:block
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline
}
html{
box-sizing:border-box;
-webkit-text-size-adjust:100%;
-webkit-overflow-scrolling:touch
}
*,*:before,*:after{
box-sizing:inherit
}
body{
font-size:1em;
line-height:1.2;
word-wrap:break-word
}
h1,h2,h3,h4,h5,h6,p{
margin:0;
padding:0;
line-height:1.2
}
a{
text-decoration:none
}
strong{
font-weight:700
}
em{
font-style:italic
}
dl,dd{
margin:0
}
table{
border-collapse:collapse;
border-spacing:0
}
address{
font-style:normal
}
fieldset{
padding:0;
margin:0;
border:0
}
img{
display:block;
max-width:100%;
height:auto;
border:0
}
body:before{
content:"small";
display:none
}
@media(min-width:48em){
body:before{
content:"medium"
}

}
@media(min-width:64.0625em){
body:before{
content:"large"
}

}
@media screen and (min-width:48em){
.align-left{
float:left;
margin:0 .5rem .5rem 0
}
.align-center{
margin:0 auto
}
.align-right{
float:right;
margin:0 0 .5rem .5rem
}

}
.button{
background-color:transparent;
border:2px solid #fff;
border-radius:.125rem;
color:#fff;
cursor:pointer;
display:inline-block;
padding:.5rem .625rem;
text-align:center;
text-transform:uppercase;
transition:background-color 300ms,border-color 300ms
}
.button:hover{
background-color:#00a0dd;
border-color:#00a0dd
}
.button--blue{
background-color:#00a0dd;
border-color:#00a0dd
}
.button--blue:hover{
background-color:#e9c81c;
border-color:#e9c81c
}
.button--play{
border-width:.0625rem;
padding:.625rem 0;
position:relative;
text-indent:-9999px;
width:4rem
}
.button--play:before{
border-bottom:.625rem solid transparent;
border-left:1rem solid #fff;
border-top:.625rem solid transparent;
content:"";
display:block;
height:0;
left:50%;
position:absolute;
top:50%;
transform:translate(-50%,-50%);
width:0
}
.field{
margin-bottom:1rem
}
.field label{
color:#2e2e2e;
display:block
}
.field input[type=text],.field input[type=email],.field input[type=tel],.field input[type=password],.field textarea{
border:.0625rem solid #828282;
font-family:Open Sans,sans-serif;
font-size:1rem;
line-height:1.4rem;
max-width:20rem;
padding:.25rem;
width:100%
}
.field input[type=checkbox],.field input[type=checkbox]+label{
display:inline-block
}
.field textarea{
min-height:6rem
}
.field-group--inline{
display:-ms-flexbox;
display:flex;
max-width:20rem;
width:100%
}
.field-group--inline .field{
-ms-flex:1;
flex:1;
margin-right:1rem;
max-width:auto;
width:auto
}
.field-group--inline .field--grow-2{
-ms-flex:2;
flex:2
}
.field-group--inline .field--grow-3{
-ms-flex:3;
flex:3
}
.field-group--inline .field:last-child{
margin-right:0
}
.form{
padding:1rem .5rem
}
input{
border:0;
border-radius:0;
outline:none
}
.h1,.h2,.h3,.h4,.h5,.h6{
color:#fff
}
.component-heading{
background-color:#00a0dd;
font-family:Montserrat,sans-serif;
font-size:1rem;
line-height:1.2;
margin:0;
padding:.375rem 1rem;
text-align:center;
text-transform:uppercase
}
.component-heading--alt{
background-color:#002626
}
.page-title{
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
font-size:2.75rem;
font-family:Montserrat,sans-serif;
font-weight:700;
padding:3rem .5rem 2.25rem;
position:relative;
text-transform:uppercase
}
.page-title:before{
bottom:0;
content:"";
display:block;
height:2rem;
left:0;
position:absolute;
width:100%
}
.small-heading{
color:#2e2e2e;
font-size:.75rem;
font-weight:700;
margin-bottom:.5rem;
text-transform:uppercase
}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.page-title{
line-height:1.25;
padding:2.9375rem .5rem 2rem;
position:fixed;
width:100%;
z-index:9
}
.page-title~*:not(style){
margin-top:8.375rem
}
.page-title~*:not(style):before{
clear:both;
content:"";
display:table
}
.page-title~*:not(style)+*{
margin-top:auto
}

}
@font-face{
font-family:icomoon;
src:url(../fonts/icomoonc79a.eot?epj5j9);
src:url(../fonts/icomoonc79a.eot?epj5j9#iefix) format('embedded-opentype'),url(../fonts/icomoonc79a.ttf?epj5j9) format('truetype'),url(../fonts/icomoonc79a.woff?epj5j9) format('woff'),url(../fonts/icomoonc79a.svg?epj5j9#icomoon) format('svg')
}
[class^=icon-],[class*=" icon-"]{
font-family:icomoon;
speak:none;
font-style:normal;
font-weight:400;
font-variant:normal;
text-transform:none;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale
}
.icon{
color:#2e2e2e;
display:inline-block;
font-size:2.125rem;
transition:color 300ms;
vertical-align:middle
}
.icon span{
font-size:0;
height:0;
position:absolute;
visibility:hidden;
width:0
}
a.icon:hover{
color:#7c0058
}
.icon--article:before,.icon--newsinsights:before{
content:"\e907"
}
.icon--commentary:before .icon--marketinsights:before{
content:"\e908"
}
.icon--video:before,.icon--webinars:before,.icon--videopodcasts:before,.icon--podcasts:before{
content:"\e909"
}
.icon--whitepaper:before,.icon--whitepapers:before{
content:"\e90a"
}
.icon--arrow-right-circle:before{
content:"\e914"
}
.icon--press-release:before{
content:"\e913"
}
.icon--close:before{
content:"\e91e"
}
.icon--plus:before{
content:"\e911"
}
.icon--arrow-up-circle:before{
content:"\e91a"
}
.icon--arrow_up:before{
content:"\e910"
}
.icon--address-circle:before{
content:"\e91b"
}
.icon--fax-circle:before{
content:"\e91c"
}
.icon--phone-circle:before{
content:"\e91d"
}
.icon--fax:before{
content:"\e90e"
}
.icon--phone:before{
content:"\e90f"
}
.icon--address:before{
content:"\e90d"
}
.icon--pdf:before{
content:"\e90b"
}
.icon--print:before{
content:"\e90c"
}
.icon--email-circle:before{
content:"\e915"
}
.icon--facebook-circle:before{
content:"\e916"
}
.icon--google-plus-circle:before{
content:"\e917"
}
.icon--linkedin-circle:before{
content:"\e918"
}
.icon--twitter-circle:before{
content:"\e919"
}
.icon--email:before{
content:"\e912"
}
.icon--linkedin:before{
content:"\e901"
}
.icon--google:before{
content:"\e902"
}
.icon--twitter:before{
content:"\e903"
}
.icon--facebook:before{
content:"\e904"
}
.icon--search:before{
content:"\e900"
}
.icon--arrow_right:before{
content:"\e906"
}
.icon--menu:before{
content:"\e905"
}
a{
color:#fff
}
.logo{
background-color:#002626;
display:block;
//padding:.75rem 1.5rem
}
.logo a{
background:url(../images/home_logo_rvrpt.png) 0 0 no-repeat;
background-size:contain;
display:block;
height:1.25rem;
margin:0 auto;
text-indent:-9999px;
width:17rem
}
.site--mic .logo,.site--mra .logo,.site--rvrpt .logo{
padding:.875rem 1.5rem
}
.site--mic .logo a,.site--mra .logo a,.site--rvrpt .logo a{
height:1rem
}
.site--mic .logo a{
background-image:url(../images/home_logo_rvrpt.png)
}
.site--mra .logo a{
background-image:url(../images/home_logo_rvrpt.png)
}
.site--rvrpt .logo a{
background-image:url(../images/home_logo_rvrpt.png);
height:1.75rem;
width:12rem
}
.site--mc .logo a{
background-image:url(../images/home_logo_mc.png);
width:13rem
}
@media(min-width:48em){
.logo{
display:inline-block
}
.site--rvrpt .logo a{
height:1.5rem;
width:10.25rem
}

}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.logo,.site--mic .logo,.site--mra .logo,.site--rvrpt .logo{
display:block;
height:6.375rem;
//padding:1.875rem 0
}
.logo a,.site--mic .logo a,.site--mra .logo a,.site--rvrpt .logo a{
background-image:url(../images/home_log.png);
height:100%;
margin:0 auto;
width:100%
}
.site--mic .logo a{
background-image:url(../images/home_logo_rvrpt.png)
}
.site--mra .logo a{
background-image:url(../images/home_logo_rvrpt.png)
}
.site--rvrpt .logo{
height:9.375rem
}
.site--rvrpt .logo a{
background-image:url(../images/home_logo_rvrpt.png);
height:6.25rem
}
.site--mc .logo a{
background-image:url(../images/home_logo_mc.png);
height:3.25rem;
width:9rem
}

}
body{
color:#fff;
font-family:Open Sans,sans-serif;
font-size:1em;
font-weight:400
}
p{
margin-bottom:1rem
}
sup,sub{
font-size:.75em
}
sup{
vertical-align:super
}
sub{
vertical-align:sub
}
.video__wrapper{
height:0;
padding-bottom:56.25%;
position:relative
}
.video__wrapper .video,.video__wrapper iframe{
height:100%;
left:0;
position:absolute;
top:0;
width:100%
}
.at-icon-wrapper.at-icon-wrapper{
display:none
}
.article .addthis-wrapper{
margin-bottom:1rem
}
.article .addthis-wrapper .small-heading{
margin-top:.25rem
}
.at-share-tbx-element .at-share-btn.at-share-btn{
height:2.125rem;
margin-right:.25rem;
position:relative;
width:2.125rem
}
.at-share-tbx-element .at-share-btn.at-share-btn:focus,.at-share-tbx-element .at-share-btn.at-share-btn:hover{
transform:translateY(0)
}
.at-svc-facebook,.at-svc-google_plusone_share,.at-svc-linkedin,.at-svc-twitter,.at-svc-email{
cursor:pointer
}
.at-svc-facebook:before,.at-svc-google_plusone_share:before,.at-svc-linkedin:before,.at-svc-twitter:before,.at-svc-email:before{
color:#2e2e2e;
cursor:pointer;
display:block;
font-family:icomoon;
font-size:31px;
left:0;
line-height:34px;
position:absolute;
top:0;
transition:color 300ms
}
.at-svc-facebook:hover:before,.at-svc-google_plusone_share:hover:before,.at-svc-linkedin:hover:before,.at-svc-twitter:hover:before,.at-svc-email:hover:before{
color:#7c0058
}
.at-svc-facebook:before{
content:"\e916"
}
.at-svc-google_plusone_share:before{
content:"\e917"
}
.at-svc-linkedin:before{
content:"\e918"
}
.at-svc-twitter:before{
content:"\e919"
}
.at-svc-email:before{
content:"\e915"
}
.advisor-search{
border-bottom:.0625rem solid #2e2e2e;
margin:.75rem 4rem .75rem 0;
padding:0 0 .125rem 2.75rem;
position:relative;
width:calc(100% - 4rem)
}
.advisor-search__wrapper{
padding:0 .5rem;
max-width:51.5rem
}
.advisor-search__wrapper .advisor{
background-color:#ececec;
border-bottom-width:.5rem
}
.advisor-search__wrapper .loader{
margin-bottom:.25rem;
opacity:0;
text-align:center
}
.advisor-search__wrapper .loader>*{
background-color:#ececec
}
.advisor-search__wrapper.is-loading .loader{
opacity:1
}
.advisor-search__error{
color:#2e2e2e;
padding:1rem .5rem
}
@media screen and (min-width:64.0625em){
.advisor-search__wrapper{
padding-left:0
}

}
.advisor{
border-bottom:.25rem solid #fff;
overflow:hidden;
position:relative
}
.advisor__image{
border-left:.5rem solid #00a0dd
}
.advisor__content{
color:#2e2e2e;
padding:.5rem;
overflow:auto
}
.advisor__name{
font-family:Montserrat,sans-serif;
font-weight:700;
margin-bottom:.25rem
}
.advisor__name a{
color:#2e2e2e;
transition:color 300ms
}
.advisor__name a:hover{
color:#7c0058
}
.advisor__title{
color:#2e2e2e
}
.advisor .location__contact-group--phonefax{
margin-left:0;
margin-top:.25rem
}
.advisor__locations-label{
color:#828282;
line-height:1.4
}
.advisor__locations{
margin-bottom:1rem
}
.advisor__locations li{
margin-bottom:.125rem
}
.advisor__locations a{
color:#7c0058;
transition:color 300ms
}
.advisor__locations a:hover{
color:#630046
}
.advisor__link{
bottom:.5rem;
position:absolute;
right:.5rem
}
@media screen and (min-width:30em){
.advisor__image{
float:left;
max-height:12.9375rem
}

}
.advisors__wrapper{
clear:right
}
.advisors__heading{
background-color:#fff;
color:#2e2e2e;
font-family:Montserrat,sans-serif;
font-size:.875rem;
font-weight:700;
padding:.5rem 0;
text-transform:uppercase
}
.author-bio{
-ms-flex-align:center;
align-items:center;
display:-ms-flexbox;
display:flex;
font-size:1.125rem;
margin-bottom:2rem
}
.author-bio__image{
border-radius:50%;
margin-right:.75rem;
max-width:18.44rem
}
.author-bio__name{
color:#2e2e2e;
font-family:Montserrat,sans-serif;
font-weight:700
}
.author-bio__title{
color:#7c0058;
font-weight:300
}
.article.bio{
max-width:60em
}
.author-bio-detail{
margin-top:1rem
}
.author-bio-detail__image{
margin-bottom:.75rem
}
.author-bio-detail__name{
color:#2e2e2e;
font-family:Montserrat,sans-serif;
font-size:2.75rem;
font-weight:700
}
.author-bio-detail__title{
color:#7c0058;
font-family:Open Sans,sans-serif;
font-size:2.25rem;
font-weight:300;
line-height:1.2;
margin-bottom:.75rem
}
.author-bio-detail__address{
font-size:.81rem;
margin:0;
font-weight:600;
color:#828282
}
.author-bio-detail__address+.author-bio-detail__address{
margin-top:.25rem
}
.author-bio-detail__address:last-child{
margin-bottom:1rem
}
.author-bio-detail__contact{
list-style:none;
margin-bottom:.75rem
}
.author-bio-detail__contact a{
color:#828282;
font-family:Open Sans,sans-serif
}
.author-contact__item{
font-size:.8rem;
font-weight:700;
min-height:2.25rem;
padding-left:2.5rem;
padding-top:.5rem;
position:relative
}
.author-contact__item+.author-contact__item{
margin-top:.5rem
}
.author-contact__item:before{
font-size:2rem;
left:0;
position:absolute;
top:0
}
.author-contact__address{
display:inline-block;
margin:0;
vertical-align:middle
}
@media only screen and (min-width:45em){
.author-bio-detail__image{
display:inline-block;
float:left;
margin-right:.75rem
}
.author-bio-detail__info{
overflow:hidden
}

}
.contact-group-list{
list-style:none;
margin:0;
padding:0;
margin-bottom:1rem;
padding-left:2.5rem;
padding-top:.375rem;
position:relative
}
.contact-group-list:before{
font-size:2rem;
position:absolute;
left:0;
top:0
}
.contact-group-list li{
margin-bottom:.25rem
}
.contact-group-list a{
color:#828282;
font-family:Open Sans,sans-serif;
font-size:.875rem;
font-weight:700;
transition:color 300ms
}
.contact-group-list a:hover{
color:#7c0058
}
.content-panel{
color:#000;
font-family:Open Sans,sans-serif;
padding:1rem .5rem
}
.content-panel>*{
line-height:1.4;
margin-bottom:1em
}
.content-panel>*:last-child{
margin-bottom:0;
padding-bottom:0
}
.content-panel h1{
font-size:2.25rem
}
.content-panel h2{
font-size:1.625rem
}
.content-panel h2,.content-panel h3,.content-panel h5{
font-weight:700
}
.content-panel h3,.content-panel h4{
font-size:1.25rem
}
.content-panel h5,.content-panel h6{
font-size:1.125rem
}
.content-panel ul,.content-panel ol{
margin-left:2rem
}
.content-panel ul,.content-panel ol,.content-panel p{
line-height:1.5
}
.content-panel a{
color:#002626;
font-weight:400
}
.content-panel a:hover{
color:#004a85
}
@media screen and (min-width:48em){
.content-panel.content-panel--flush-image{
overflow:hidden;
padding:0
}
.content-panel.content-panel--flush-image img{
margin:0
}
.content-panel.content-panel--flush-image .content-panel__inner-wrapper{
margin:1rem 0;
overflow:hidden
}
.content-panel.content-panel--flush-image-left{
padding-right:.5rem
}
.content-panel.content-panel--flush-image-left img{
float:left;
margin-right:.5rem
}
.content-panel.content-panel--flush-image-right{
padding-left:.5rem
}
.content-panel.content-panel--flush-image-right img{
float:right;
margin-left:.5rem
}

}
.content-pod{
background-color:#002626;
margin-bottom:.5rem
}
.content-pod__wrapper{
margin:0 .5rem 1.5rem
}
.content-pod__heading{
background-color:#00a0dd;
font-size:1.375rem;
font-weight:700;
min-height:4.75rem;
padding:.75rem 1rem;
text-transform:uppercase
}
.content-pod__description{
padding:1rem
}
@media screen and (min-width:48em){
.content-pod{
margin:0 .25rem .5rem;
width:33.33333%
}
.content-pod__wrapper{
display:-ms-flexbox;
display:flex;
margin:0 .25rem 1rem;
max-width:56.25rem
}

}
.copyright{
color:#828282;
font-size:.75rem;
margin-bottom:0;
padding:1rem 0 0;
text-align:center
}
@media screen and (min-width:64.0625em){
.copyright{
padding-bottom:1rem
}

}
.cta-banner{
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
padding:1rem .75rem;
position:relative;
text-align:center
}
.cta-banner:after{
content:"";
display:block;
height:100%;
left:0;
position:absolute;
top:0;
width:100%
}
.cta-banner__text{
display:inline-block;
vertical-align:middle;
font-family:Montserrat,sans-serif;
font-size:2.75rem;
line-height:1;
margin:1.875rem .5rem;
position:relative;
text-transform:uppercase;
z-index:10
}
.cta-banner .button{
display:inline-block;
vertical-align:middle;
margin:0 auto 1.875rem;
padding-bottom:.375rem;
padding-top:.375rem;
position:relative;
width:10rem;
z-index:10
}
@media screen and (min-width:40em){
.cta-banner__text{
font-size:2rem
}
.cta-banner .button{
min-height:2rem;
margin:0 0 0 1rem
}

}
@media screen and (min-width:64.0625em){
.cta-banner__text{
font-size:2.75rem
}

}
.faq{
background-color:#7c0058;
display:block;
margin-bottom:.5rem;
padding:1rem 3.125rem 1rem 1rem;
position:relative;
transition:background-color 300ms
}
.faq:hover{
background-color:#630046
}
.faq:hover:nth-child(odd){
background-color:#450034
}
.faq:nth-child(odd){
background-color:#560041;
transition:background-color 300ms
}
.faq__wrapper{
margin:0 .5rem 2rem 0;
padding-left:.5rem
}
.faq__wrapper-heading{
color:#2e2e2e;
font-weight:600;
margin-bottom:.5rem;
text-transform:uppercase
}
.faq__icon{
bottom:.5rem;
position:absolute;
right:.5rem
}
.faq__icon:before{
color:#fff
}
@media screen and (min-width:48em){
.faq__wrapper{
max-width:56.25rem
}
.faq__icon{
bottom:auto;
top:50%;
transform:translate(0,-50%)
}

}
.featured-content{
background:#2e2e2e
}
.featured-content__image{
background-position:center center;
background-repeat:no-repeat;
background-size:cover
}
.featured-content__content{
padding:.75rem .5rem
}
.featured-content__header{
font-size:1.5rem;
text-transform:uppercase
}
.featured-content__description{
line-height:1.4;
margin-bottom:.25rem
}
.featured-content__read-more{
color:#e9c81c;
font-size:.75rem;
text-transform:uppercase
}
.featured-content__read-more:before{
content:"["
}
.featured-content__read-more:after{
content:"]"
}
@media screen and (min-width:48em){
.featured-content__link{
display:-ms-flexbox;
display:flex
}

}
@media screen and (min-width:48em) and (max-width:64em){
.featured-content__link{
display:-ms-flexbox;
display:flex
}
.featured-content__image{
padding-top:25%;
width:40%
}
.featured-content__content{
width:60%
}

}
@media screen and (min-width:64.0625em) and (max-width:79.9375em),(max-width:47.9375em){
.featured-content__link{
display:block
}
.featured-content__image,.featured-content__content{
width:100%
}
.featured-content__image{
height:0;
padding-top:50%
}

}
@media screen and (min-width:64.0625em){
.featured-content__content{
padding:.75rem .5rem
}

}
@media screen and (min-width:80em){
.featured-content__image{
width:45%
}
.featured-content__content{
width:55%
}

}
.figure{
margin-bottom:2rem
}
.figure img{
margin-bottom:.25rem
}
.figure figcaption{
font-size:.75rem
}
.insight{
display:block;
opacity:1;
padding-bottom:3.5rem;
position:relative;
transition:opacity 300ms
}
.insight.item-is-hidden{
opacity:0
}
.insight.item-is-removed{
display:none
}
.insight--featured{
background-color:transparent;
color:#2e2e2e;
border-bottom:.5rem solid #fff
}
.insight--featured .insight__header{
font-size:2rem
}
.insight--featured .insight__header a{
color:#2e2e2e;
transition:color 300ms
}
.insight--featured .insight__header a:hover{
color:#7c0058
}
.insight--featured .insight__header:before{
background:#e9c81c;
content:"";
display:block;
height:1.125rem;
left:0;
position:absolute;
top:.375rem;
width:.25rem
}
.insight--featured .insight__category{
color:#2e2e2e
}
.insight--featured .insight__category .icon{
color:#2e2e2e
}
.insight--featured .insight__more-link{
color:#2e2e2e
}
.insight--featured .insight__more-link:hover,.insight--featured .insight__more-link:hover:before{
color:#7c0058
}
.insight__category,.insight__more-link{
bottom:.5rem;
position:absolute
}
.insight__category{
color:#fff;
display:-ms-flexbox;
display:flex;
font-family:Open Sans,sans-serif;
font-size:.75rem;
font-weight:700;
left:.5rem;
line-height:2rem;
text-transform:uppercase
}
.insight__category .icon{
color:#fff
}
.insight__category-date{
display:inline-block;
font-size:.75rem;
font-weight:400;
padding-left:.5625rem;
position:absolute;
top:-.8125rem;
white-space:nowrap
}
.insight__category-text{
-ms-flex-item-align:center;
align-self:center;
margin-left:.5rem
}
.insight__more-link{
color:#fff;
right:.5rem
}
.insight__more-link:hover,.insight__more-link:hover:before{
color:#fff
}
.insight__image{
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
display:block;
padding-bottom:56.25%;
height:0;
image-rendering:-webkit-optimize-contrast
}
.insight__header,.insight__description{
padding-left:.5rem;
padding-right:.5rem
}
.insight__header{
font-family:Montserrat,sans-serif;
font-size:1.25rem;
font-weight:700;
line-height:1;
margin-bottom:.75rem;
margin-top:.75rem;
position:relative;
text-transform:uppercase
}
.insight__description{
line-height:1.6
}
@media screen and (min-width:48em){
.insight{
padding-bottom:3rem
}
.insight--featured{
padding-bottom:4rem
}
.insight--featured:nth-child(odd){
background-color:#ececec
}
.insight--featured .insight__header,.insight--featured .insight__description{
padding-left:1rem;
padding-right:1rem
}
.insight--featured .insight__header:before{
width:.5rem
}
.insight--featured .insight__category,.insight--featured .insight__more-link{
bottom:1rem
}
.insight--featured .insight__category{
left:1rem
}
.insight--featured .insight__more-link{
right:1rem
}
.insight__category{
left:.75rem
}
.insight__more-link{
right:.75rem
}
.insight__header,.insight__description{
padding-left:.75rem;
padding-right:.75rem
}

}
@media screen and (min-width:54em){
.insight--featured{
border-bottom:0
}

}
.insights-filter{
background-color:#ececec;
color:#2e2e2e;
padding:0 .375rem;
position:relative;
text-transform:uppercase
}
.insights-filter__header{
display:inline-block;
float:left;
font-weight:700;
line-height:2.125rem;
margin:0 .625rem 0 0
}
.insights-filter__list{
list-style:none;
margin:0;
padding:0;
overflow:auto
}
.insights-filter__list:after{
clear:both;
content:"";
display:table;
float:none
}
.insights-filter__list>*{
float:left;
line-height:1
}
.insights-filter__list-item{
float:left
}
.insights-filter__list-item:nth-child(4){
clear:left
}
.insights-filter__list-item:first-child .insights-filter__link.is-active{
cursor:default
}
.insights-filter__link{
border-bottom:.125rem solid #ececec;
border-top:.125rem solid #ececec;
color:#2e2e2e;
display:block;
font-size:.75rem;
font-weight:700;
line-height:1.875rem;
margin:0 .375rem
}
.insights-filter__link.is-active{
border-bottom:.125rem solid #00a0dd;
cursor:default
}
.insights-filter__link.is-active:hover{
color:#2e2e2e
}
.insights-is-loading .insights-filter:before{
background-color:rgba(236,236,236,.8);
content:"";
height:100%;
left:0;
position:absolute;
top:0;
width:100%
}
.insights-is-loading .loader{
opacity:1
}
@media screen and (min-width:31em){
.insights-filter__list-item:nth-child(4){
clear:none
}

}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.insights-filter{
position:fixed;
top:8.375rem;
width:100%;
z-index:9
}

}
.jumbotron__overlay{
margin:0 auto;
max-width:25.5rem
}
.jumbotron__overlay-tagline{
color:#00a0dd;
font-style:italic;
font-weight:700
}
.jumbotron__overlay-header{
font-size:1.625rem;
margin:1rem 0
}
.jumbotron__overlay-description{
line-height:1.4
}
.jumbotron__overlay-logo img{
margin:0 auto 1.875rem
}
.jumbotron.jumbotron--content{
-ms-flex-align:center;
align-items:center;
background-position:0 0;
background-repeat:no-repeat;
background-size:cover;
display:-ms-flexbox;
display:flex
}
.jumbotron.jumbotron--content .jumbotron__overlay{
padding:1rem;
text-align:center
}
.jumbotron.jumbotron--video{
position:relative
}
.jumbotron.jumbotron--video .jumbotron__overlay,.jumbotron.jumbotron--video .jumbotron .button--play{
opacity:1;
transition:opacity 300ms
}
.jumbotron.jumbotron--video .jumbotron__overlay{
color:#2e2e2e;
padding:2rem 1rem 1rem;
text-align:center
}
.jumbotron.jumbotron--video .jumbotron__video-wrapper{
background-color:transparent;
background-position:0 0;
background-repeat:no-repeat;
background-size:cover
}
.jumbotron.jumbotron--video .jumbotron__video-wrapper .button--play{
left:50%;
position:absolute;
top:50%;
transform:translate(-50%,-50%)
}
.jumbotron .button--play{
opacity:1;
transition:opacity 300ms,background-color 300ms,border 300ms
}
.video-overlay-is-hidden .button--play{
opacity:0
}
@media screen and (min-width:48em){
.jumbotron.jumbotron--content .jumbotron__overlay{
padding:2rem 0
}
.jumbotron.jumbotron--video .jumbotron__overlay{
color:#fff;
left:50%;
padding:0;
position:absolute;
top:50%;
transform:translate(-50%,-50%);
width:100%;
z-index:10
}
.jumbotron.jumbotron--video .jumbotron__video-wrapper .button--play{
bottom:.75rem;
left:auto;
position:absolute;
right:1rem;
top:auto;
transform:translate(0,0)
}
.video-overlay-is-hidden .jumbotron.jumbotron--video .jumbotron__overlay{
opacity:0
}

}
@media screen and (min-width:64.0625em){
.jumbotron.jumbotron--content .jumbotron__overlay{
padding:4.375rem 0
}

}
@keyframes bouncedelay{
0%,80%,100%{
transform:scale(0)
}
40%{
transform:scale(1)
}

}
.loader>*{
animation:bouncedelay 1.4s infinite ease-in-out both;
background-color:#fff;
border-radius:50%;
display:inline-block;
height:1.75rem;
width:1.75rem
}
.loader .one{
animation-delay:-.32s
}
.loader .two{
animation-delay:-.16s
}
.location{
background-color:#ececec;
margin:0 auto 2rem;
overflow:auto;
padding-top:.75rem;
position:relative;
max-width:63.75rem;
z-index:8
}
.location__to-top{
display:none
}
.location__heading,.location__address{
margin:0 .5rem
}
.location__heading{
color:#00a0dd;
font-family:Montserrat,sans-serif;
font-size:1.5rem;
font-weight:700;
text-transform:uppercase
}
.location__address{
color:#7c0058;
font-family:Open Sans,sans-serif;
font-size:1.125rem;
font-weight:300;
line-height:1.2;
margin-bottom:1rem;
margin-top:.5rem;
padding-left:2.25rem;
padding-top:.25rem;
position:relative
}
.location__address:before{
color:#2e2e2e;
font-family:icomoon;
font-size:2rem;
left:0;
position:absolute;
top:-.25rem
}
.location__contact-wrapper{
overflow:auto
}
.location__contact-group{
float:left
}
.location__contact-group--map{
margin-right:.5rem;
max-width:12.5rem
}
.location__contact-group__map-image{
border-left:.5rem solid #00a0dd
}
.location__contact-group__map-link{
border:1px solid #2e2e2e;
border-radius:.125rem;
color:#2e2e2e;
display:block;
font-family:Montserrat,sans-serif;
margin:.75rem 0 .75rem .5rem;
padding:.1875rem .5rem;
text-align:center;
text-transform:uppercase;
transition:background-color 300ms,color 300ms
}
.location__contact-group__map-link:hover{
background-color:#2e2e2e;
color:#ececec
}
.location__contact-group.location__contact-group--phonefax{
margin-bottom:.5rem;
margin-left:.5rem
}
.location__image{
margin-bottom:.75rem;
max-height:21.25rem
}
.location .contact-group-list:before{
color:#2e2e2e;
font-size:2rem
}
@media screen and (min-width:48em){
.location__to-top{
display:block;
height:2.125rem;
margin:0 auto 1.125rem;
position:relative;
width:2.125rem
}
.location__to-top:before{
color:#fff;
font-size:2.125rem
}
.location__heading,.location__address{
margin:0 1.75rem
}
.location__heading{
font-size:2.75rem
}
.location__address{
font-size:2.25rem;
margin-bottom:1.625rem;
padding-left:2.5rem
}
.location__address:before{
top:.5rem
}
.location__image{
float:right;
margin-right:.5rem
}
.location__contact-group--map{
margin-top:0
}
.location__contact-group__map-link{
margin:.75rem 0 .75rem .5rem;
padding:.1875rem 0
}
.location__contact-group--phonefax{
margin-top:0
}

}
@media screen and (min-width:64.0625em){
.location__contact-group{
clear:none;
margin-left:0
}
.location__contact-group__map-link{
margin-left:.5rem
}

}
.locations__chooser{
background-color:#fff;
display:none;
margin-left:.375rem;
margin-top:-.625rem;
padding:1rem 0 .25rem;
position:absolute
}
.locations__chooser.is-open{
display:block
}
.locations__chooser.is-reversed{
margin-left:-.375rem;
transform:translate(-100%,0)
}
.locations__chooser.is-reversed:before{
border-right:0;
border-left:.375rem solid #fff;
left:auto;
right:-.375rem
}
.locations__chooser a{
color:#002626;
display:block;
font-weight:700;
padding:.125rem 1.5rem .125rem .875rem;
text-transform:uppercase;
transition:color 300ms;
white-space:nowrap
}
.locations__chooser a:hover{
color:#7c0058
}
.locations__chooser:before{
border-bottom:.375rem solid transparent;
border-top:.375rem solid transparent;
border-right:.375rem solid #fff;
content:"";
display:block;
height:0;
left:-.375rem;
position:absolute;
top:.25rem;
width:0
}
.locations__chooser a.locations__chooser-close-trigger{
font-size:.75rem;
padding:0;
position:absolute;
right:.25rem;
top:.25rem
}
.locations__chooser a.locations__chooser-close-trigger span{
font-size:0;
height:0;
position:absolute;
visibility:hidden;
width:0
}
.locations__list{
padding:.5rem;
position:relative
}
.locations__list:before{
background-color:#00a0dd;
content:"";
display:block;
height:11.8125rem;
left:0;
position:absolute;
top:0;
width:100%
}
@media screen and (min-width:48em){
.locations__list{
padding:0 2rem
}

}
.locations__map-wrapper{
background-color:#00a0dd;
padding:1rem 0 .5rem;
position:relative
}
.locations__map-title{
color:#fff;
font-family:Montserrat,sans-serif;
font-size:1.75rem;
font-weight:700;
line-height:1.1;
margin:0 .5rem .5rem;
text-transform:uppercase
}
.locations__map-image-wrapper{
display:none
}
.locations__map-image-wrapper .loader{
display:none
}
@media screen and (min-width:48em){
.locations__map-wrapper{
min-height:28.1875rem;
padding:3rem 0
}
.locations__map-title{
left:.5rem;
margin:0;
position:absolute;
top:.5rem
}
.locations__map-image-wrapper{
display:block;
height:22.1875rem;
margin:0 auto;
position:relative;
width:37.5rem
}
.locations__map-image-wrapper.is-loading .loader{
display:block;
left:50%;
position:absolute;
top:50%;
transform:translate(-50%,-50%)
}

}
@media screen and (min-width:75em){
.locations__map-title{
font-size:2rem;
}

}
.locations__select-menu{
-webkit-text-size-adjust:100%;
font-size:1rem;
margin:0 .5rem;
width:calc(100% - 1rem)
}
@media screen and (min-width:48em){
.locations__select-menu{
display:none
}

}
.locations__hover-label{
background-color:#18415d;
display:none;
font-size:.875rem;
padding:.25rem .375rem;
position:absolute;
white-space:nowrap
}
.locations__hover-label.is-hovered{
display:block
}
.page-not-found{
background-size:cover;
height:0;
padding-bottom:56.25%;
position:relative
}
.page-not-found__inner-wrapper{
background:url(../images/404_bg.png) center center no-repeat;
background-size:contain;
height:auto;
left:50%;
max-width:69.75rem;
position:absolute;
text-align:center;
top:50%;
transform:translate(-50%,-50%);
width:80%
}
.page-not-found .logo{
background-color:transparent;
display:block;
height:2.625rem;
margin-bottom:1rem;
padding:0;
transition:margin-bottom 300ms
}
.page-not-found .logo a{
background-image:url(../images/logo_white_vertical.svg);
height:2.625rem;
margin:0 auto;
width:9rem
}
.page-not-found__heading{
font-size:1.125rem;
font-weight:700;
margin-bottom:1rem;
text-transform:uppercase;
transition:font-size 300ms,margin-bottom 300ms
}
.page-not-found .button{
width:8.75rem
}
@media screen and (min-width:30em){
.page-not-found .logo{
margin-bottom:1.5rem
}
.page-not-found__heading{
font-size:1.5rem;
margin-bottom:2rem
}

}
@media screen and (min-width:48em){
.page-not-found .logo{
margin-bottom:2.5rem
}
.page-not-found__inner-wrapper{
padding:5rem 0
}
.page-not-found__heading{
font-size:2.25rem;
margin-bottom:4rem
}

}
.investment-committee{
padding:1rem;
background:#00a0dd
}
.investment-committee__heading{
font-family:Montserrat,sans-serif;
font-size:1.75rem;
margin-bottom:.5rem;
line-height:1;
text-transform:uppercase
}
.investment-committee__content{
margin:0
}
.investment-committee__intro{
color:#2e2e2e;
margin-top:1rem
}
.investment-committee__heading-link{
position:relative;
display:block;
padding-right:2.5rem
}
.investment-committee__heading-link .icon--arrow-right-circle{
position:absolute;
top:0;
right:0
}
@media screen and (min-width:66em){
.investment-committee__heading{
font-size:2.75rem
}
.investment-committee__heading-link{
padding-right:4rem
}
.investment-committee__heading-link .icon--arrow-right{
font-size:2rem;
padding:.5rem
}

}
.people__wrapper,.people__header{
max-width:75.25em;
padding:0 .5rem
}
.people__header{
padding-top:1rem
}
.people__header>*{
margin-bottom:1rem
}
.people__header .cta-banner__text,.people__header .cta-banner .button{
z-index:8
}
.people__heading{
font-size:1.5rem;
font-weight:300;
color:#2e2e2e
}
@media screen and (min-width:40em){
.people__header{
display:-ms-flexbox;
display:flex;
-ms-flex-pack:justify;
justify-content:space-between;
padding-top:.5rem
}
.people__header>*{
width:49%
}
.people__heading{
font-size:2.5rem
}

}
@media screen and (min-width:64.0625em){
.people__header{
padding:1rem .5rem 0 0
}

}
.results-indicator{
background-color:#e9c81c;
display:inline-block;
font-size:1.125rem;
font-weight:700;
line-height:1.2;
padding:.5rem .625rem;
text-transform:uppercase
}
.results-indicator__value{
font-weight:400
}
.search-result{
color:#2e2e2e;
margin-bottom:1rem;
overflow:hidden;
padding:0 .5rem 3.5rem 0;
position:relative
}
.search-result--video .search-result__image-link{
position:relative
}
.search-result--video .search-result__image-link:before{
content:"\e909";
display:block;
font-family:icomoon;
font-size:4rem;
left:50%;
position:absolute;
top:50%;
transform:translate(-50%,-50%)
}
.search-result:before{
background-color:#00a0dd;
content:"";
display:block;
height:2.375rem;
left:0;
position:absolute;
top:0;
width:.5rem
}
.search-result__error{
color:#2e2e2e;
padding:1rem 1rem 4rem
}
.search-result__image-link{
display:block;
margin-bottom:.5rem;
margin-left:.5rem
}
.search-result__image-link img{
max-width:13.4375rem
}
.search-result__content{
margin-left:.5rem;
overflow:auto;
position:relative;
top:-.375rem
}
.search-result .search-result__content:first-child{
margin-left:1rem
}
.search-result__title,.search-result__date{
font-size:1.125rem
}
.search-result__title{
font-family:Montserrat,sans-serif;
font-weight:700;
line-height:1.4;
margin-top:.125rem
}
.search-result__title a{
color:#2e2e2e;
transition:color 300ms
}
.search-result__title a:hover{
color:#7c0058
}
.search-result__date{
color:#7c0058;
margin-bottom:.75rem
}
.search-result__description{
line-height:1.6
}
.search-result__category{
bottom:1rem;
display:-ms-flexbox;
display:flex;
font-size:.75rem;
font-weight:700;
left:.5rem;
position:absolute;
text-transform:uppercase
}
.search-result__category-text{
-ms-flex-item-align:center;
align-self:center;
margin-left:.5rem
}
.search-result__category-byline{
font-weight:300
}
.search-result__link{
bottom:1rem;
position:absolute;
right:.5rem
}
@media screen and (min-width:30em){
.search-result{
padding-left:.5rem
}
.search-result__image-link{
float:left;
margin-bottom:0;
margin-left:0;
margin-right:.5rem
}
.search-result__content{
margin-left:0
}
.search-result .search-result__content:first-child{
margin-left:.5rem
}
.search-result .search-result__content:first-child~.search-result__category{
left:1rem
}

}
.site-search .results-indicator{
min-width:20rem
}
.site-search .search-bar{
margin-bottom:2rem;
margin-left:.5rem;
margin-right:5rem;
width:calc(100% - 5rem)
}
@media screen and (min-width:48em){
.site-search{
max-width:51.5rem;
width:calc(100% - 4rem)
}

}
.tabbed-list{
background-color:#fff
}
.tabbed-list__tabs,.tabbed-list__list{
list-style:none;
margin:0;
padding:0
}
.tabbed-list__tabs{
background:#ececec;
margin-bottom:1rem;
padding:0 .5rem;
text-align:center
}
.tabbed-list__tab{
display:inline-block
}
.tabbed-list__tab-link{
border-bottom:.125rem solid #ececec;
color:#2e2e2e;
display:block;
font-size:.75rem;
font-weight:700;
line-height:1.2;
margin:0 .5rem;
padding:.5rem 0;
text-transform:uppercase;
transition:color 300ms
}
.tabbed-list__tab-link:hover{
color:#00a0dd
}
.tabbed-list__tab-link.is-active{
border-bottom:.125rem solid #e9c81c;
color:#e9c81c
}
.tabbed-list__list{
color:#2e2e2e;
padding:0 .5rem
}
.tabbed-list__list-item,.tabbed-list__list-item--no-results{
padding:.375rem 0
}
.tabbed-list__list-item.item-is-hidden,.tabbed-list__list-item--no-results.item-is-hidden{
display:none
}
.tabbed-list__list-item--no-results,.tabbed-list__list-item--no-results--no-results{
color:#2e2e2e
}
.tabbed-list__list-item p,.tabbed-list__list-item--no-results p{
margin-bottom:0
}
.tabbed-list__list-item{
min-height:4rem;
padding-right:5rem;
position:relative
}
.tabbed-list__list-item.item-is-visible{
border-bottom:.125rem solid #ececec
}
.tabbed-list__list-item.item-is-visible.item-is-last-visible,.tabbed-list__list-item.item-is-visible:last-child{
border-bottom:0
}
.tabbed-list__list-item-header{
color:#00a0dd;
display:block;
margin-bottom:.25rem
}
.tabbed-list__more-link{
position:absolute;
right:0;
top:50%;
transform:translate(0,-50%)
}
.tabbed-list__more-link:before{
font-size:2.75rem
}
@media screen and (min-width:64.0625em){
.tabbed-list__tabs{
padding:0
}
.tabbed-list__list{
padding:0 .5rem
}

}
.team-member{
position:relative;
display:block;
max-width:25em;
margin-bottom:.5rem
}
.team-member>a{
display:block
}
.team-member__image{
width:100%
}
.team-member__info{
background-color:rgba(0,92,166,.5);
bottom:0;
min-height:4.1875rem;
padding:.5rem;
position:absolute;
width:100%
}
.team-member__name,.team-member__title{
margin-right:2rem
}
.team-member__name{
font-weight:700
}
.team-member__title{
font-size:.9rem
}
.team-member__more-link{
border:0;
font-size:1.25rem;
top:50%;
transform:translate(0,-50%)
}
.team-member__more-link:before{
color:#fff
}
.timeline{
background:#fff url(../images/logo_color_round.png) 1rem top no-repeat;
height:auto;
list-style-type:none;
padding-top:5.4375rem;
overflow:hidden;
position:relative
}
.timeline:before{
background-color:#000;
content:"";
height:100%;
left:3.71875rem;
position:absolute;
top:5.4375rem;
width:.0625rem
}
.timeline__wrapper{
margin:1rem .5rem;
width:calc(100% - 1rem)
}
.timeline__year{
color:#2e2e2e;
font-family:Montserrat,sans-serif;
font-size:1.25rem;
font-weight:700;
margin:.25rem 0
}
.timeline__event-inner-wrapper{
margin-left:1.5rem;
padding:1rem;
position:relative
}
.timeline__event-inner-wrapper:before{
border-bottom:.5rem solid transparent;
border-right:.5rem solid #00a0dd;
border-top:.5rem solid transparent;
content:"";
display:block;
height:0;
left:0;
margin-left:-.5rem;
position:absolute;
top:1.5rem;
width:0
}
.timeline__event{
margin:0 0 1rem 3.6875rem;
position:relative
}
.timeline__event:last-child{
margin-bottom:0
}
.timeline__event:before{
background-color:#000;
border-radius:50%;
color:#2e2e2e;
content:"";
height:1rem;
left:-.4375rem;
line-height:1;
position:absolute;
top:1.5rem;
width:1rem
}
.timeline__event-title{
font-family:Montserrat,sans-serif;
font-size:1.5rem;
font-weight:700;
text-transform:uppercase
}
.timeline__event-description{
font-size:.875rem;
line-height:1.6
}
.timeline__event-description p{
line-height:inherit;
margin-bottom:0
}
@media screen and (min-width:48em){
.timeline{
background-position:center top;
max-width:65rem;
padding-left:2rem;
padding-right:2rem
}
.timeline__wrapper{
margin:2rem 0;
width:auto
}
.timeline:before{
left:50%
}
.timeline__year{
clear:both;
font-size:1.5rem;
padding-right:1%;
text-align:right;
width:50%
}
.timeline__event{
clear:right;
display:block;
float:right;
margin:0 0 1rem;
width:50%
}
.timeline__event.timeline__event--narrow{
margin-right:25%;
width:25%
}
.timeline__event.timeline__event--narrow:nth-of-type(2n+3){
margin-left:25%;
margin-right:0
}
.timeline__event:nth-of-type(2n+3){
clear:left;
float:left;
margin-top:4rem
}
.timeline__event:nth-of-type(2n+3) .timeline__event-inner-wrapper{
margin-left:auto;
margin-right:1.5rem
}
.timeline__event:nth-of-type(2n+3) .timeline__event-inner-wrapper:before{
border-left:.5rem solid #002626;
border-right:0;
left:auto;
margin-left:0;
margin-right:-.5rem;
right:0
}
.timeline__event:nth-of-type(2n+3):before{
left:auto;
right:-.5rem
}

}
.utilities{
list-style:none;
margin:0;
padding:0;
background-color:#ececec;
border-radius:.125rem;
display:inline-block;
margin-bottom:1.5rem;
padding:0 .5rem
}
.utilities:after{
clear:both;
content:"";
display:table;
float:none
}
.utilities>*{
float:left;
line-height:1
}
.utilities a{
color:#2e2e2e;
display:inline-block;
font-family:Open Sans,sans-serif;
font-size:.75rem;
font-weight:700;
padding:.5rem;
transition:color 300ms
}
.utilities a:hover{
color:#002626
}
.utilities a:before{
font-family:icomoon;
padding-right:.25rem
}
@media screen and (min-width:30em){
.utilities{
float:right;
margin-bottom:0;
margin-top:1.5rem
}

}
.search-bar{
border-bottom:.0625rem solid #2e2e2e;
margin:.75rem 4rem .75rem 0;
padding:0 0 .125rem 2.75rem;
position:relative;
width:calc(100% - 4rem)
}
.search-bar:before{
color:#e9c81c;
font-size:1.5rem;
left:.5rem;
position:absolute;
top:50%;
transform:translate(0,-50%)
}
.search-bar__input{
border:0;
display:block;
font-family:Open Sans,sans-serif;
font-size:.875rem;
height:2rem;
line-height:2rem;
outline:0;
padding-left:0;
width:100%
}
.search-bar__input::-webkit-input-placeholder{
color:#2e2e2e;
font-family:Open Sans,sans-serif;
font-size:.875rem;
text-transform:uppercase
}
.search-bar__input::-moz-placeholder{
color:#2e2e2e;
font-family:Open Sans,sans-serif;
font-size:.875rem;
text-transform:uppercase
}
.search-bar__submit{
background:none;
background-color:transparent;
border:.0625rem solid #2e2e2e;
border-radius:.125rem;
bottom:-.0625rem;
cursor:pointer;
font-size:1rem;
height:100%;
outline:0;
position:absolute;
right:-4rem;
text-transform:uppercase;
transition:color 300ms,background-color 300ms;
width:3.875rem
}
.search-bar__submit:hover{
background-color:#2e2e2e;
color:#ececec
}
@media screen and (min-width:30em){
.search-bar__input{
font-size:1rem
}
.search-bar__input::-webkit-input-placeholder{
font-size:1rem
}
.search-bar__input::-moz-placeholder{
font-size:1rem
}

}
.sidebar-search fieldset{
position:relative
}
.sidebar-search__search-input,.sidebar-search__search-submit{
height:1.875rem
}
.sidebar-search__search-input{
border:.0625rem solid #828282;
color:#2e2e2e;
font-size:1.25rem;
padding:0 .125rem 0 1.875rem;
width:100%
}
.sidebar-search__search-submit{
background-color:transparent;
border:0;
display:block;
left:0;
outline:0;
position:absolute;
top:0;
width:1.875rem
}
.sidebar-search__search-submit:before{
color:#e9c81c;
font-size:1rem;
left:50%;
line-height:1;
position:absolute;
top:50%;
transform:translate(-50%,-50%)
}
.sidebar-search__search-submit span{
display:none
}
.breadcrumbs{
margin:0 .35rem
}
.breadcrumbs ul{
list-style:none;
margin:0;
padding:0
}
.breadcrumbs ul:after{
clear:both;
content:"";
display:table;
float:none
}
.breadcrumbs ul>*{
float:left;
line-height:1
}
.breadcrumbs li{
font-size:.875rem
}
.breadcrumbs li:after{
color:#002626;
content:"\003e"
}
.breadcrumbs li:last-child:after{
display:none
}
.breadcrumbs a{
color:#002626;
display:inline-block;
padding:.5rem .1875rem;
transition:color 300ms
}
.breadcrumbs a:hover{
color:#004a85
}
.footer-nav{
overflow:hidden
}
.footer-nav li{
list-style:none;
margin:0;
padding:0;
border-bottom:.0625rem solid #828282;
display:table;
float:left;
width:50%
}
.footer-nav li:nth-child(2n+1){
border-right:.0625rem solid #828282
}
.footer-nav li:nth-last-child(1),.footer-nav li:nth-last-child(2){
border-bottom:0
}
.footer-nav a{
display:table-cell;
font-size:.625rem;
height:1.875rem;
text-align:center;
text-transform:uppercase;
transition:color 300ms;
vertical-align:middle;
width:100%
}
.footer-nav a:hover{
color:#00a0dd
}
.offscreen-nav__label{
cursor:pointer;
display:block;
height:2.75rem;
position:relative;
text-indent:-9999px
}
.offscreen-nav__label:hover:before{
color:#fff
}
.offscreen-nav__label:before{
color:#828282;
cursor:pointer;
font-size:2rem;
position:absolute;
right:.75rem;
text-indent:0;
top:50%;
transform:translate(0,-50%);
transition:color 300ms
}
.offscreen-nav__checkbox{
font-size:0;
height:0;
left:0;
position:absolute;
top:0;
visibility:hidden;
width:0
}
.offscreen-nav__checkbox:checked+.offscreen-nav__wrap{
transform:translate(0,0)
}
.offscreen-nav__wrap{
background-color:#2e2e2e;
height:calc(100% - 5.5rem);
position:absolute;
left:0;
top:5.5rem;
transition:transform 300ms;
transform:translate(-100%,0);
width:100%;
z-index:20
}
@media screen and (min-width:30em){
.offscreen-nav__wrap{
width:20rem
}

}
@media screen and (min-width:48em){
.offscreen-nav__label{
position:absolute;
right:0;
top:0
}
.offscreen-nav__wrap{
height:calc(100% - 2.75rem);
top:2.75rem;
z-index:20
}

}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.offscreen-nav__label{
display:none
}
.offscreen-nav__wrap{
height:100%;
position:relative;
top:auto;
transform:none;
width:auto
}

}
.primary-nav ul{
list-style:none;
margin:0;
padding:0
}
.primary-nav>ul>li.has-children>a:after{
border-bottom:.3125rem solid transparent;
border-left:.3125rem solid #fff;
border-top:.3125rem solid transparent;
content:"";
display:inline-block;
height:0;
margin-left:.5rem;
width:0
}
.primary-nav>ul>li.has-children.is-open>a:after{
border-bottom:0;
border-top:.3125rem solid #fff;
border-left:.3125rem solid transparent;
border-right:.3125rem solid transparent;
position:relative;
top:-.125rem
}
.primary-nav>ul>li:nth-child(4n+1)>a{
background-color:#434343
}
.primary-nav>ul>li:nth-child(4n+1)>a:hover{
background-color:#00a0dd
}
.primary-nav>ul>li:nth-child(4n+1).is-open>a{
background-color:#0090c7
}
.primary-nav>ul>li:nth-child(4n+1) ul{
background:#00a0dd
}
.primary-nav>ul>li:nth-child(4n+1) ul a:hover{
background:#0090c7
}
.primary-nav>ul>li:nth-child(4n+2)>a{
background-color:#585858
}
.primary-nav>ul>li:nth-child(4n+2)>a:hover{
background-color:#7c9c6b
}
.primary-nav>ul>li:nth-child(4n+2).is-open>a{
background-color:#708c60
}
.primary-nav>ul>li:nth-child(4n+2) ul{
background:#7c9c6b
}
.primary-nav>ul>li:nth-child(4n+2) ul a:hover{
background:#708c60
}
.primary-nav>ul>li:nth-child(4n+3)>a{
background-color:#6d6d6d
}
.primary-nav>ul>li:nth-child(4n+3)>a:hover{
background-color:#7c0058
}
.primary-nav>ul>li:nth-child(4n+3).is-open>a{
background-color:#70004f
}
.primary-nav>ul>li:nth-child(4n+3) ul{
background:#7c0058
}
.primary-nav>ul>li:nth-child(4n+3) ul a:hover{
background:#70004f
}
.primary-nav>ul>li:nth-child(4n+4)>a{
background-color:#828282
}
.primary-nav>ul>li:nth-child(4n+4)>a:hover{
background-color:#002626
}
.primary-nav>ul>li:nth-child(4n+4).is-open>a{
background-color:#005395
}
.primary-nav>ul>li:nth-child(4n+4) ul{
background:#002626
}
.primary-nav>ul>li:nth-child(4n+4) ul a:hover{
background:#005395
}
.primary-nav>ul>li.is-open ul{
display:block
}
.primary-nav>ul ul{
display:none;
padding:.75rem 0
}
.primary-nav>ul ul a{
transition:background 300ms
}
.primary-nav>ul ul ul{
display:none
}
.primary-nav a{
display:block;
font-family:Montserrat,sans-serif;
font-size:.8125rem;
padding:.5rem 1rem;
text-transform:uppercase;
transition:background-color 300ms
}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.primary-nav{
position:relative;
z-index:10
}
.primary-nav>ul>li{
position:relative
}
.primary-nav>ul>li:nth-child(4n+1) ul,.primary-nav>ul>li:nth-child(4n+2) ul,.primary-nav>ul>li:nth-child(4n+3) ul,.primary-nav>ul>li:nth-child(4n+4) ul{
background-color:transparent
}
.primary-nav>ul>li.is-open:nth-child(4n+1)>a{
background-color:#00a0dd
}
.primary-nav>ul>li.is-open:nth-child(4n+2)>a{
background-color:#7c9c6b
}
.primary-nav>ul>li.is-open:nth-child(4n+3)>a{
background-color:#7c0058
}
.primary-nav>ul>li.is-open:nth-child(4n+4)>a{
background-color:#002626
}
.primary-nav>ul>li.is-open>ul{
transform:translate(13.125rem,0);
transition:transform 150ms
}
.primary-nav>ul>li>a{
position:relative;
z-index:20
}
.primary-nav>ul>li>ul{
left:0;
position:absolute;
top:0;
transform:translate(0,0);
width:13.125rem;
z-index:10
}
.primary-nav>ul ul{
background-color:transparent;
display:block;
padding:0
}

}
.secondary-nav__shim{
display:none
}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.secondary-nav__shim{
background:transparent;
display:block;
height:100%;
left:0;
position:absolute;
top:0;
transform:translate(0,0);
width:13.125rem;
z-index:10
}
.secondary-nav-is-open .header{
margin-right:13.125rem
}
.secondary-nav-is-open .secondary-nav__shim{
position:fixed;
transform:translate(100%,0);
transition:transform 150ms
}
.secondary-nav-is-open--0 .secondary-nav__shim,.secondary-nav-is-open--4 .secondary-nav__shim{
background:rgba(0,160,221,.9)
}
.secondary-nav-is-open--1 .secondary-nav__shim,.secondary-nav-is-open--5 .secondary-nav__shim{
background:rgba(124,156,107,.9)
}
.secondary-nav-is-open--2 .secondary-nav__shim,.secondary-nav-is-open--6 .secondary-nav__shim{
background:rgba(124,0,88,.9)
}
.secondary-nav-is-open--3 .secondary-nav__shim,.secondary-nav-is-open--7 .secondary-nav__shim{
background:rgba(0,92,166,.9)
}

}
.social-nav{
background-color:#2e2e2e;
padding-bottom:1rem;
position:relative;
z-index:20;
display:none;
}
.social-nav ul{
list-style:none;
margin:0;
padding:0;
text-align:center
}
.social-nav li{
display:inline-block
}
.social-nav a{
color:#fff;
padding:0 .375rem;
transition:color 300ms
}
.social-nav a:before{
font-size:1.25rem
}
.social-nav a:hover{
color:#00a0dd
}
.social-nav a span{
display:none
}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.social-nav{
height:100%
}

}
.footer{
background-color:#2e2e2e;
padding:1rem 0
}
.footer .button{
display:block;
font-family:Montserrat,sans-serif;
font-size:.8125rem;
padding-left:0;
padding-right:0;
margin:0 auto 1rem;
width:8.75rem
}
.footer .footer-nav ul{
margin:0 .625rem
}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.footer{
bottom:0;
left:0;
padding:0;
position:fixed;
width:13.125rem;
z-index:20
}

}
.header{
background:#2e2e2e;
margin-right:0;
min-height:5.5rem;
z-index:10
}
.header .button{
display:block;
font-family:Montserrat,sans-serif;
font-size:.8125rem;
margin:1.5rem auto;
width:8.75rem
}
.header .sidebar-search{
background-color:#2e2e2e;
padding:1.625rem 1rem;
position:relative;
z-index:20;
height:25%;
}
@media screen and (min-width:48em){
.header{
min-height:2.75rem
}

}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.header{
background-color:#2e2e2e;
height:100%;
left:0;
position:fixed;
top:0;
width:13.125rem;
z-index:20
}

}
.article{
color:#828282;
margin-bottom:2rem;
max-width:50rem;
padding-top:2rem;
position:relative
}
.article:before,.article:after{
content:"";
display:block;
height:2rem;
left:0;
position:absolute;
top:0;
width:100%
}
.article:after{
z-index:10
}
.article>*{
margin-left:.5rem;
margin-right:.5rem
}
.article.article--full-width{
max-width:100%
}
.article.article--full-width .jumbotron--video{
margin-bottom:2rem
}
.article.article--full-width .content-panel{
max-width:43.75rem
}
.article .addthis-wrapper{
margin-right:.875rem
}
.article .figure,.article .jumbotron{
margin-top:1rem
}
.article__heading{
color:#2e2e2e;
font-size:2.25rem;
font-weight:300;
line-height:1.4;
margin-bottom:1.5rem;
margin-top:1rem
}
.article__date{
color:#7c0058;
margin-bottom:1.5rem
}
.article .insight__category{
color:#2e2e2e;
display:-ms-flexbox;
display:flex;
left:0;
margin-bottom:.5rem;
margin-left:0;
padding-left:.5rem;
position:relative
}
.article .insight__category .icon:before{
color:#2e2e2e
}
.article .insight__category-text{
-ms-flex-item-align:center;
align-self:center
}
.article .content-panel{
clear:both;
overflow:hidden;
padding:0
}
.article .addthis-wrapper+.content-panel{
clear:none
}
@media screen and (min-width:40em){
.article__heading,.article .insight__category{
margin-left:2.375rem
}
.article .insight__category{
padding-left:0
}
.article .author-bio{
margin-left:7.625rem
}
.article .addthis-wrapper{
float:left;
margin-bottom:0;
width:6.25rem
}
.article .addthis-wrapper .small-heading{
margin-bottom:.75rem;
margin-top:.25rem;
text-align:center
}
.article .at-share-tbx-element .at-share-btn.at-share-btn{
display:block;
margin:0 auto .75rem
}

}
@media screen and (min-width:48em){
.article{
position:static
}
.article:before,.article:after{
top:2.75rem
}

}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.article:before,.article:after{
top:0
}

}
.insights__wrapper{
background-color:#ececec
}
.insights__standard-wrapper{
background-color:#fff
}
.insights__standard-wrapper .loader{
clear:both;
margin:0 auto;
opacity:0;
padding:.5rem 0;
text-align:center;
transition:opacity 300ms
}
.insights__standard-wrapper .loader>*{
background-color:#ececec
}
.insights-is-loading .loader{
opacity:1
}
.insights__standard-inner-wrapper{
list-style:none;
margin:0;
padding:0;
background-color:#fff;
padding-top:.125rem
}
.insights__standard-inner-wrapper .tabbed-list__list-item--no-results{
border:0;
padding-left:.5rem;
padding-right:.5rem
}
.insights__standard-inner-wrapper>.insight{
background-color:#002626;
margin-bottom:.125rem
}
@media screen and (min-width:30em){
.insights__standard-inner-wrapper{
display:-ms-flexbox;
display:flex;
float:right;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-wrap:wrap;
flex-wrap:wrap;
padding:.125rem;
width:100%
}
.insights__standard-inner-wrapper>.insight{
border:.25rem solid #fff;
margin-bottom:0;
width:50%
}

}
@media screen and (min-width:54em){
.insights__wrapper{
display:-ms-flexbox;
display:flex;
-ms-flex-direction:row;
flex-direction:row
}
.insights__wrapper>*{
-ms-flex:1;
flex:1
}

}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.insights__wrapper{
display:block;
overflow:auto
}
.insights__featured-wrapper{
position:fixed;
top:8.375rem;
width:calc((100% - 13.125rem)/2)
}
.insights__standard-wrapper{
float:right;
overflow:hidden;
padding-top:2.125rem;
width:50%
}

}
.newsroom{
padding-top:2rem
}
.recommended-stories{
margin:0 .5rem 2rem;
max-width:37.5rem
}
.recommended-stories__list{
list-style:none;
margin:0;
padding:0
}
.recommended-stories__list>.insight{
margin-bottom:.25rem
}
.recommended-stories__list>.insight:nth-child(odd){
background-color:#002626
}
.recommended-stories__list>.insight:nth-child(even){
background-color:#00a0dd
}
@media screen and (min-width:40em){
.recommended-stories{
margin-left:7.625rem;
margin-right:0
}
.recommended-stories__list{
display:-ms-flexbox;
display:flex
}
.recommended-stories__list>.insight{
margin-right:.5rem;
width:50%
}
.recommended-stories.authored-articles{
margin-left:.5rem
}
.article--no-addthis+.recommended-stories{
margin-left:.5rem
}

}
@media screen and (min-width:28em){
.team-members{
display:-ms-flexbox;
display:flex;
-ms-flex-pack:start;
justify-content:flex-start;
-ms-flex-wrap:wrap;
flex-wrap:wrap
}
.team-member{
width:49%;
margin-right:2%
}
.team-member:nth-child(even){
margin-right:0
}

}
@media screen and (min-width:44em){
.team-member{
width:32.66%;
margin-right:1%
}
.team-member:nth-child(even){
margin-right:1%
}
.team-member:nth-child(3n){
margin-right:0
}

}
@media screen and (min-width:80em){
.team-member{
width:24.25%
}
.team-member:nth-child(3n){
margin-right:1%
}
.team-member:nth-child(4n){
margin-right:0
}

}
@media screen and (min-width:88em){
.team-member{
width:19.2%
}
.team-member:nth-child(4n){
margin-right:1%
}
.team-member:nth-child(5n){
margin-right:0
}

}
body{
background-color:#fff
}
.wrapper{
margin:0;
max-width:120rem;
position:relative
}
@media screen and (min-width:64.0625em) and (min-height:43.75em){
.wrapper{
padding-left:13.125rem;
position:static
}

}
@media screen and (min-width:48em){
.columns{
display:-ms-flexbox;
display:flex;
-ms-flex-direction:row;
flex-direction:row;
-ms-flex-wrap:wrap;
flex-wrap:wrap
}
.columns>*{
width:100%
}
.columns.columns--one{
-ms-flex-direction:column;
flex-direction:column
}
.columns--two:not(.columns--two-large)>*{
width:50%
}

}
@media screen and (min-width:64.0625em){
.columns--two-large>*{
width:50%
}

}
.is-hidden{
display:none!important
}
@media screen and (max-width:47.9375em){
.is-hidden--small{
display:none!important
}

}
@media screen and (min-width:48em) and (max-width:64em){
.is-hidden--medium{
display:none!important
}

}
@media screen and (min-width:64.0625em){
.is-hidden--large{
display:none!important
}

}
@media print{
*,*:before,*:after{
background-color:transparent!important;
color:#000!important;
float:none!important;
margin-left:0!important;
margin-right:0!important;
padding-left:0!important;
padding-right:0!important;
text-align:left!important
}
*:not(.insight__image),*:not(.insight__image):before,*:not(.insight__image):after{
background-image:none!important
}
body{
padding:1rem!important
}
.offscreen-nav__label,.offscreen-nav__wrap,.breadcrumbs,.primary-nav,.sidebar-search,.social-nav,.secondary-nav__shim,.jumbotron__overlay-logo,.jumbotron__video-wrapper,.cta-banner,.button,.insights-filter,.insight__more-link,.footer-nav,.article .utilities,.addthis-wrapper,.timeline__event:before,.timeline__event-inner-wrapper:before,.locations__map-title,.locations__select-menu,.advisor__link,.contact-group-list:before,.location__contact-group__map-link,.author-contact__item:before,.search-bar,.icon--arrow-right-circle,.page-not-found .logo{
display:none!important
}
ul,ol{
margin-left:2rem!important
}
.logo{
padding:0!important
}
.logo a{
background-image:url(../images/logo_color_vertical.svg)!important;
display:block!important;
height:3rem!important;
margin:0!important
}
.site--mic .logo a{
background-image:url(../images/logo_color_vertical_mic.svg)!important
}
.site--mra .logo a{
background-image:url(../images/logo_color_vertical_mra.svg)!important
}
.page-title{
padding:0!important
}
.jumbotron.jumbotron--video .jumbotron__overlay{
padding:0!important
}
.component-heading{
padding-left:0!important
}
.insight__category .icon{
margin-right:.5rem!important
}
.article{
padding-top:0!important
}
.author-bio a{
margin-right:.5rem!important
}
.recommended-stories__list{
overflow:hidden!important
}
.insight{
float:left!important;
padding-right:.5rem!important;
width:50%!important
}
.timeline{
margin-left:0!important;
padding-top:0!important
}
.timeline__event-inner-wrapper{
padding:0!important
}
.contact-group-list,.author-bio-detail__contact,.team-members{
margin-left:0!important
}
.team-member__info{
position:static
}
.search-result__category .icon{
margin-right:.5rem!important
}
.page-not-found{
height:auto!important;
padding-bottom:0!important
}

}
